Repository prgrms-web-devcourse-final-project/WEB2_3_9crops_BE, pull requests merged in 2025-02, with the labels that each got.

#11 Feature/calcultor test
  build.gradle
Labels: ✅ Test

#21 feat: 공통 응답 객체 추가
  build.gradle
  src/main/java/io/crops/warmletter/global/response/BaseResponse.java
Labels: ⚙ Setting

#27 Feature/oauth-setting(wr9-24)
  build.gradle
  src/main/java/io/crops/warmletter/domain/member/controller/MemberController.java
  src/main/java/io/crops/warmletter/domain/member/entity/Member.java
  src/main/java/io/crops/warmletter/domain/member/entity/SocialAccount.java
  src/main/java/io/crops/warmletter/domain/member/enums/Role.java
  src/main/java/io/crops/warmletter/domain/member/enums/SocialProvider.java
  src/main/java/io/crops/warmletter/domain/member/repository/MemberRepository.java
  src/main/java/io/crops/warmletter/domain/member/service/MemberService.java
  src/main/java/io/crops/warmletter/global/config/CorsConfig.java
  src/main/java/io/crops/warmletter/global/config/SecurityConfig.java
  src/main/java/io/crops/warmletter/global/config/TestSecurityConfig.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/main/java/io/crops/warmletter/global/error/exception/OAuth2Exception.java
  src/main/java/io/crops/warmletter/global/error/handler/GlobalExceptionHandler.java
  src/main/java/io/crops/warmletter/global/oauth/entity/UserPrincipal.java
  src/main/java/io/crops/warmletter/global/oauth/exception/OAuth2EmailNotFoundException.java
  src/main/java/io/crops/warmletter/global/oauth/exception/OAuth2ProcessingException.java
  src/main/java/io/crops/warmletter/global/oauth/exception/UnsupportedSocialTypeException.java
  src/main/java/io/crops/warmletter/global/oauth/service/CustomOAuth2UserService.java
  src/main/java/io/crops/warmletter/global/oauth/userinfo/GoogleOAuth2UserInfo.java
  src/main/java/io/crops/warmletter/global/oauth/userinfo/KakaoOAuth2UserInfo.java
  src/main/java/io/crops/warmletter/global/oauth/userinfo/NaverOAuth2UserInfo.java
  src/main/java/io/crops/warmletter/global/oauth/userinfo/OAuth2UserInfo.java
  src/main/java/io/crops/warmletter/global/oauth/userinfo/OAuth2UserInfoFactory.java
  src/main/resources/application.yml
  src/test/java/io/crops/warmletter/domain/badword/service/BadWordServiceTest.java
  src/test/java/io/crops/warmletter/domain/member/entity/MemberTest.java
  src/test/java/io/crops/warmletter/domain/member/entity/SocialAccountTest.java
Labels: ⚙ Setting, ✨ Feature, ✅ Test

#29 Feature/create letter(wr9-22)
  src/main/java/io/crops/warmletter/domain/letter/controller/LetterController.java
  src/main/java/io/crops/warmletter/domain/letter/controller/LetterControllerDocs.java
  src/main/java/io/crops/warmletter/domain/letter/dto/request/CreateLetterRequest.java
  src/main/java/io/crops/warmletter/domain/letter/dto/response/CreateLetterResponse.java
  src/main/java/io/crops/warmletter/domain/letter/entity/Letter.java
  src/main/java/io/crops/warmletter/domain/letter/entity/LetterMatching.java
  src/main/java/io/crops/warmletter/domain/letter/entity/LetterMatchingTimeout.java
  src/main/java/io/crops/warmletter/domain/letter/enums/Category.java
  src/main/java/io/crops/warmletter/domain/letter/enums/DeliveryStatus.java
  src/main/java/io/crops/warmletter/domain/letter/enums/FontType.java
  src/main/java/io/crops/warmletter/domain/letter/enums/LetterType.java
  src/main/java/io/crops/warmletter/domain/letter/enums/PaperType.java
  src/main/java/io/crops/warmletter/domain/letter/repository/LetterRepository.java
  src/main/java/io/crops/warmletter/domain/letter/service/LetterService.java
  src/main/java/io/crops/warmletter/global/error/response/ErrorResponse.java
  src/main/resources/application.yml
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/LetterServiceTest.java
  src/test/resources/application-test.yml
Labels: ⚙ Setting, ✨ Feature, ✅ Test

#34 Feature/auth-jwt(wr9-35)
  src/main/java/io/crops/warmletter/global/config/SecurityConfig.java
  src/main/java/io/crops/warmletter/global/config/TestSecurityConfig.java
  src/main/java/io/crops/warmletter/global/jwt/JwtAuthenticationFilter.java
  src/main/java/io/crops/warmletter/global/jwt/JwtExceptionFilter.java
  src/main/java/io/crops/warmletter/global/jwt/JwtTokenProvider.java
  src/main/resources/application.yml
  src/test/java/io/crops/warmletter/WarmLetterApplicationTests.java
  src/test/java/io/crops/warmletter/config/TestConfig.java
  src/test/java/io/crops/warmletter/domain/badword/cache/BadWordCacheInitializerTest.java
  src/test/java/io/crops/warmletter/domain/badword/controller/BadWordControllerTest.java
  src/test/java/io/crops/warmletter/domain/badword/service/BadWordServiceTest.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/LetterServiceTest.java
  src/test/resources/application-test.yml
Labels: ⚙ Setting, ✨ Feature

#38 Feature/create event post(wr9 33)
  src/main/java/io/crops/warmletter/domain/eventpost/controller/EventPostController.java
  src/main/java/io/crops/warmletter/domain/eventpost/dto/request/CreateEventPostRequest.java
  src/main/java/io/crops/warmletter/domain/eventpost/dto/response/CreateEventPostResponse.java
  src/main/java/io/crops/warmletter/domain/eventpost/entity/EventPost.java
  src/main/java/io/crops/warmletter/domain/eventpost/repository/EventPostRepository.java
  src/main/java/io/crops/warmletter/domain/eventpost/service/EventPostService.java
  src/main/java/io/crops/warmletter/global/config/SecurityConfig.java
  src/test/java/io/crops/warmletter/domain/eventpost/controller/EventPostControllerTest.java
  src/test/java/io/crops/warmletter/domain/eventpost/service/EventPostServiceTest.java
Labels: ✨ Feature, ✅ Test

#43 Feature/previous letter(wr9-36)
  src/main/java/io/crops/warmletter/domain/letter/controller/LetterController.java
  src/main/java/io/crops/warmletter/domain/letter/dto/request/CreateLetterRequest.java
  src/main/java/io/crops/warmletter/domain/letter/dto/response/LetterResponse.java
  src/main/java/io/crops/warmletter/domain/letter/entity/Letter.java
  src/main/java/io/crops/warmletter/domain/letter/entity/LetterMatching.java
  src/main/java/io/crops/warmletter/domain/letter/entity/LetterMatchingTimeout.java
  src/main/java/io/crops/warmletter/domain/letter/exception/LetterNotFoundException.java
  src/main/java/io/crops/warmletter/domain/letter/repository/LetterRepository.java
  src/main/java/io/crops/warmletter/domain/letter/service/LetterService.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerUnitTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/LetterServiceTest.java
Labels: ✨ Feature, ✅ Test

#42 Feature/manage-token(wr9-39)
  src/main/java/io/crops/warmletter/domain/auth/controller/AuthController.java
  src/main/java/io/crops/warmletter/domain/auth/dto/TokenResponse.java
  src/main/java/io/crops/warmletter/domain/auth/service/AuthService.java
  src/main/java/io/crops/warmletter/global/config/SecurityConfig.java
  src/main/java/io/crops/warmletter/global/config/TestSecurityConfig.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/main/java/io/crops/warmletter/global/error/exception/JwtAuthenticationException.java
  src/main/java/io/crops/warmletter/global/error/handler/GlobalExceptionHandler.java
  src/main/java/io/crops/warmletter/global/jwt/enums/TokenType.java
  src/main/java/io/crops/warmletter/global/jwt/exception/InvalidAccessTokenException.java
  src/main/java/io/crops/warmletter/global/jwt/exception/InvalidRefreshTokenException.java
  src/main/java/io/crops/warmletter/global/jwt/filter/JwtAuthenticationFilter.java
  src/main/java/io/crops/warmletter/global/jwt/filter/JwtExceptionFilter.java
  src/main/java/io/crops/warmletter/global/jwt/provider/JwtTokenProvider.java
  src/main/java/io/crops/warmletter/global/jwt/service/TokenBlacklistService.java
  src/main/java/io/crops/warmletter/global/oauth/entity/UserPrincipal.java
  src/test/java/io/crops/warmletter/domain/auth/controller/AuthControllerTest.java
  src/test/java/io/crops/warmletter/domain/auth/service/AuthServiceTest.java
Labels: ✨ Feature, ✅ Test

#47 Feature/delete letter(wr9-41)
  src/main/java/io/crops/warmletter/domain/letter/controller/LetterController.java
  src/main/java/io/crops/warmletter/domain/letter/entity/Letter.java
  src/main/java/io/crops/warmletter/domain/letter/service/LetterService.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerUnitTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/LetterServiceTest.java
Labels: ✨ Feature, ✅ Test

#55 Feature/letter retrieval(wr9-45)
  src/main/java/io/crops/warmletter/domain/letter/controller/LetterController.java
  src/main/java/io/crops/warmletter/domain/letter/dto/response/LetterResponse.java
  src/main/java/io/crops/warmletter/domain/letter/service/LetterService.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerUnitTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/LetterServiceTest.java
Labels: ✨ Feature, ✅ Test

#56 Feature/delete event post(wr9 40)
  src/main/java/io/crops/warmletter/domain/eventpost/controller/EventPostController.java
  src/main/java/io/crops/warmletter/domain/eventpost/dto/request/CreateEventPostRequest.java
  src/main/java/io/crops/warmletter/domain/eventpost/dto/response/CreateEventPostResponse.java
  src/main/java/io/crops/warmletter/domain/eventpost/entity/EventPost.java
  src/main/java/io/crops/warmletter/domain/eventpost/exception/EventPostNotFoundException.java
  src/main/java/io/crops/warmletter/domain/eventpost/service/EventPostService.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/test/java/io/crops/warmletter/domain/eventpost/controller/EventPostControllerTest.java
  src/test/java/io/crops/warmletter/domain/eventpost/service/EventPostServiceTest.java
Labels: ✨ Feature, ✅ Test

#60 Feature/share proposal approve(wr9 46)
  src/main/java/io/crops/warmletter/domain/share/controller/SharePostController.java
  src/main/java/io/crops/warmletter/domain/share/controller/ShareProposalController.java
  src/main/java/io/crops/warmletter/domain/share/dto/request/UpdateProposalStatusRequest.java
  src/main/java/io/crops/warmletter/domain/share/dto/response/ShareLetterDetailResponse.java
  src/main/java/io/crops/warmletter/domain/share/dto/response/ShareProposalStatusResponse.java
  src/main/java/io/crops/warmletter/domain/share/entity/SharePost.java
  src/main/java/io/crops/warmletter/domain/share/entity/ShareProposal.java
  src/main/java/io/crops/warmletter/domain/share/service/ShareProposalService.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/test/java/io/crops/warmletter/domain/share/controller/SharePostControllerTest.java
  src/test/java/io/crops/warmletter/domain/share/controller/ShareProposalControllerTest.java
  src/test/java/io/crops/warmletter/domain/share/entity/SharePostTest.java
  src/test/java/io/crops/warmletter/domain/share/entity/ShareProposalTest.java
  src/test/java/io/crops/warmletter/domain/share/service/SharePostServiceTest.java
  src/test/java/io/crops/warmletter/domain/share/service/ShareProposalServiceTest.java
Labels: ✨ Feature, ✅ Test

#64 Feature/create-zipcode(wr9-47)
  src/main/java/io/crops/warmletter/domain/auth/controller/AuthController.java
  src/main/java/io/crops/warmletter/domain/auth/exception/UnauthorizedException.java
  src/main/java/io/crops/warmletter/domain/auth/facade/AuthFacade.java
  src/main/java/io/crops/warmletter/domain/auth/service/AuthService.java
  src/main/java/io/crops/warmletter/domain/member/controller/MemberController.java
  src/main/java/io/crops/warmletter/domain/member/dto/response/ZipCodeResponse.java
  src/main/java/io/crops/warmletter/domain/member/entity/Member.java
  src/main/java/io/crops/warmletter/domain/member/exception/DuplicateZipCodeException.java
  src/main/java/io/crops/warmletter/domain/member/exception/MemberNotFoundException.java
  src/main/java/io/crops/warmletter/domain/member/repository/MemberRepository.java
  src/main/java/io/crops/warmletter/domain/member/service/MemberService.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/main/java/io/crops/warmletter/global/error/exception/AuthException.java
  src/main/java/io/crops/warmletter/global/error/handler/GlobalExceptionHandler.java
  src/main/java/io/crops/warmletter/global/jwt/filter/JwtAuthenticationFilter.java
  src/main/java/io/crops/warmletter/global/jwt/provider/JwtTokenProvider.java
  src/main/java/io/crops/warmletter/global/jwt/service/TokenBlacklistService.java
  src/main/java/io/crops/warmletter/global/oauth/handler/OAuth2AuthenticationSuccessHandler.java
  src/test/java/io/crops/warmletter/domain/auth/controller/AuthControllerTest.java
  src/test/java/io/crops/warmletter/domain/auth/facade/AuthFacadeTest.java
  src/test/java/io/crops/warmletter/domain/auth/service/AuthServiceTest.java
  src/test/java/io/crops/warmletter/domain/member/controller/MemberControllerTest.java
  src/test/java/io/crops/warmletter/domain/member/service/MemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#67 Feature/get-me(wr9-52)
  src/main/java/io/crops/warmletter/domain/member/controller/MemberController.java
  src/main/java/io/crops/warmletter/domain/member/dto/response/MeResponse.java
  src/main/java/io/crops/warmletter/domain/member/entity/Member.java
  src/main/java/io/crops/warmletter/domain/member/entity/SocialAccount.java
  src/main/java/io/crops/warmletter/domain/member/repository/MemberRepository.java
  src/main/java/io/crops/warmletter/domain/member/service/MemberService.java
  src/test/java/io/crops/warmletter/domain/member/controller/MemberControllerTest.java
  src/test/java/io/crops/warmletter/domain/member/service/MemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#61 Feature/mailbox list(wr9-49)
  src/main/java/io/crops/warmletter/domain/letter/controller/LetterControllerDocs.java
  src/main/java/io/crops/warmletter/domain/letter/controller/MailboxController.java
  src/main/java/io/crops/warmletter/domain/letter/dto/response/LetterResponse.java
  src/main/java/io/crops/warmletter/domain/letter/dto/response/MailboxResponse.java
  src/main/java/io/crops/warmletter/domain/letter/entity/LetterMatching.java
  src/main/java/io/crops/warmletter/domain/letter/repository/LetterMatchingRepository.java
  src/main/java/io/crops/warmletter/domain/letter/service/LetterService.java
  src/main/java/io/crops/warmletter/domain/letter/service/MailBoxService.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/test/java/io/crops/warmletter/domain/letter/controller/MailboxControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/entity/LetterMatchingTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/MailBoxServiceTest.java
Labels: ✨ Feature, ✅ Test

#69 Feature/read event post(wr9 48)
  src/main/java/io/crops/warmletter/domain/eventpost/controller/EventPostController.java
  src/main/java/io/crops/warmletter/domain/eventpost/dto/request/CreateEventPostRequest.java
  src/main/java/io/crops/warmletter/domain/eventpost/dto/response/CreateEventPostResponse.java
  src/main/java/io/crops/warmletter/domain/eventpost/dto/response/EventCommentsResponse.java
  src/main/java/io/crops/warmletter/domain/eventpost/dto/response/EventPostDetailResponse.java
  src/main/java/io/crops/warmletter/domain/eventpost/dto/response/EventPostResponse.java
  src/main/java/io/crops/warmletter/domain/eventpost/entity/EventComment.java
  src/main/java/io/crops/warmletter/domain/eventpost/entity/EventPost.java
  src/main/java/io/crops/warmletter/domain/eventpost/exception/UsedEventPostNotFoundException.java
  src/main/java/io/crops/warmletter/domain/eventpost/repository/EventCommentRepository.java
  src/main/java/io/crops/warmletter/domain/eventpost/repository/EventPostRepository.java
  src/main/java/io/crops/warmletter/domain/eventpost/service/EventPostService.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/test/java/io/crops/warmletter/domain/eventpost/controller/EventPostControllerTest.java
  src/test/java/io/crops/warmletter/domain/eventpost/entity/EventCommentTest.java
  src/test/java/io/crops/warmletter/domain/eventpost/service/EventPostServiceTest.java
Labels: ✨ Feature, ✅ Test

#74 Feature/create event post comment(wr9 57)
  src/main/java/io/crops/warmletter/domain/eventpost/controller/EventCommentController.java
  src/main/java/io/crops/warmletter/domain/eventpost/controller/EventPostController.java
  src/main/java/io/crops/warmletter/domain/eventpost/dto/request/CreateEventCommentRequest.java
  src/main/java/io/crops/warmletter/domain/eventpost/dto/response/EventCommentResponse.java
  src/main/java/io/crops/warmletter/domain/eventpost/entity/EventComment.java
  src/main/java/io/crops/warmletter/domain/eventpost/entity/EventPost.java
  src/main/java/io/crops/warmletter/domain/eventpost/service/EventCommentService.java
  src/main/java/io/crops/warmletter/domain/eventpost/service/EventPostService.java
  src/test/java/io/crops/warmletter/domain/eventpost/controller/EventCommentControllerTest.java
  src/test/java/io/crops/warmletter/domain/eventpost/service/EventCommentServiceTest.java
  src/test/java/io/crops/warmletter/domain/eventpost/service/EventPostServiceTest.java
Labels: ✨ Feature, ✅ Test

#76 Feature/random letter list(wr9-56)
  src/main/java/io/crops/warmletter/domain/letter/controller/LetterMatchingController.java
  src/main/java/io/crops/warmletter/domain/letter/dto/response/LetterResponse.java
  src/main/java/io/crops/warmletter/domain/letter/dto/response/RandomLetterResponse.java
  src/main/java/io/crops/warmletter/domain/letter/repository/LetterRepository.java
  src/main/java/io/crops/warmletter/domain/letter/service/LetterMatchingService.java
  src/main/java/io/crops/warmletter/domain/letter/service/LetterService.java
  src/main/java/io/crops/warmletter/domain/letter/service/MailBoxService.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LetterMatchingControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerUnitTest.java
  src/test/java/io/crops/warmletter/domain/letter/controller/MailboxControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/LetterMatchingServiceTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/LetterServiceTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/MailBoxServiceTest.java
Labels: ✨ Feature, ✅ Test

#79 Feature/delete-me(wr9-54)
  src/main/java/io/crops/warmletter/domain/auth/facade/AuthFacade.java
  src/main/java/io/crops/warmletter/domain/member/controller/MemberController.java
  src/main/java/io/crops/warmletter/domain/member/entity/Member.java
  src/main/java/io/crops/warmletter/domain/member/exception/DeletedMemberException.java
  src/main/java/io/crops/warmletter/domain/member/repository/MemberRepository.java
  src/main/java/io/crops/warmletter/domain/member/service/MemberService.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/main/java/io/crops/warmletter/global/oauth/service/CustomOAuth2UserService.java
  src/test/java/io/crops/warmletter/domain/auth/facade/AuthFacadeTest.java
  src/test/java/io/crops/warmletter/domain/member/controller/MemberControllerTest.java
  src/test/java/io/crops/warmletter/domain/member/service/MemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#87 Feature/share proposal reject(wr9 53)
  src/main/java/io/crops/warmletter/domain/share/cache/PostLikeRedisManager.java
  src/main/java/io/crops/warmletter/domain/share/controller/SharePostController.java
  src/main/java/io/crops/warmletter/domain/share/controller/SharePostLikeController.java
  src/main/java/io/crops/warmletter/domain/share/controller/ShareProposalController.java
  src/main/java/io/crops/warmletter/domain/share/dto/request/SharePostLikeRequest.java
  src/main/java/io/crops/warmletter/domain/share/entity/SharePostLike.java
  src/main/java/io/crops/warmletter/domain/share/exception/SharePostNotFoundException.java
  src/main/java/io/crops/warmletter/domain/share/repository/SharePostLikeRepository.java
  src/main/java/io/crops/warmletter/domain/share/scheduler/LikeScheduler.java
  src/main/java/io/crops/warmletter/domain/share/service/SharePostLikeService.java
  src/main/java/io/crops/warmletter/domain/share/service/SharePostService.java
  src/main/java/io/crops/warmletter/domain/share/service/ShareProposalService.java
  src/test/java/io/crops/warmletter/domain/share/cache/PostLikeRedisManagerTest.java
  src/test/java/io/crops/warmletter/domain/share/controller/SharePostLikeControllerTest.java
  src/test/java/io/crops/warmletter/domain/share/entity/SharePostLikeTest.java
  src/test/java/io/crops/warmletter/domain/share/scheduler/LikeSchedulerTest.java
  src/test/java/io/crops/warmletter/domain/share/service/SharePostLikeServiceTest.java
Labels: ✅ Test

#94 Feature/disconnect-matching(wr9-64)
  src/main/java/io/crops/warmletter/domain/letter/controller/MailboxController.java
  src/main/java/io/crops/warmletter/domain/letter/entity/LetterMatching.java
  src/main/java/io/crops/warmletter/domain/letter/exception/MatchingAlreadyBlockedException.java
  src/main/java/io/crops/warmletter/domain/letter/exception/MatchingNotBelongException.java
  src/main/java/io/crops/warmletter/domain/letter/exception/MatchingNotFoundException.java
  src/main/java/io/crops/warmletter/domain/letter/repository/LetterMatchingRepository.java
  src/main/java/io/crops/warmletter/domain/letter/service/MailboxService.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/test/java/io/crops/warmletter/domain/letter/controller/MailboxControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/MailBoxServiceTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/MailboxServiceTest.java
Labels: ✨ Feature, ✅ Test

#90 Feature/get timeline(wr9 62)
  src/main/java/io/crops/warmletter/domain/eventpost/entity/EventComment.java
  src/main/java/io/crops/warmletter/domain/eventpost/entity/EventPost.java
  src/main/java/io/crops/warmletter/domain/eventpost/service/EventCommentService.java
  src/main/java/io/crops/warmletter/domain/timeline/controller/TimeLineController.java
  src/main/java/io/crops/warmletter/domain/timeline/dto/response/TimeLineResponse.java
  src/main/java/io/crops/warmletter/domain/timeline/entity/Timeline.java
  src/main/java/io/crops/warmletter/domain/timeline/enums/AlarmType.java
  src/main/java/io/crops/warmletter/domain/timeline/repository/TimeLineRepository.java
  src/main/java/io/crops/warmletter/domain/timeline/service/TimeLineService.java
  src/test/java/io/crops/warmletter/domain/eventpost/entity/EventCommentTest.java
  src/test/java/io/crops/warmletter/domain/eventpost/service/EventPostServiceTest.java
  src/test/java/io/crops/warmletter/domain/timeline/controller/TimelineControllerTest.java
  src/test/java/io/crops/warmletter/domain/timeline/entity/TimelineTest.java
  src/test/java/io/crops/warmletter/domain/timeline/service/TimelineServiceTest.java
Labels: ✨ Feature, ✅ Test

#101 Feature/evaluate-letter(wr9-67)
  src/main/java/io/crops/warmletter/domain/letter/controller/LetterController.java
  src/main/java/io/crops/warmletter/domain/letter/dto/request/EvaluateLetterRequest.java
  src/main/java/io/crops/warmletter/domain/letter/entity/Letter.java
  src/main/java/io/crops/warmletter/domain/letter/enums/LetterEvaluation.java
  src/main/java/io/crops/warmletter/domain/letter/exception/LetterNotBelongException.java
  src/main/java/io/crops/warmletter/domain/letter/repository/LetterRepository.java
  src/main/java/io/crops/warmletter/domain/letter/service/LetterService.java
  src/main/java/io/crops/warmletter/domain/member/entity/Member.java
  src/main/java/io/crops/warmletter/domain/member/entity/Temperature.java
  src/main/java/io/crops/warmletter/domain/member/enums/TemperaturePolicy.java
  src/main/java/io/crops/warmletter/domain/member/exception/InvalidTemperatureException.java
  src/main/java/io/crops/warmletter/domain/member/facade/MemberFacade.java
  src/main/java/io/crops/warmletter/domain/member/repository/MemberRepository.java
  src/main/java/io/crops/warmletter/domain/member/service/MemberService.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/main/java/io/crops/warmletter/global/oauth/handler/CustomOAuth2AuthenticationSuccessHandler.java
  src/main/java/io/crops/warmletter/global/oauth/service/CustomOAuth2UserService.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerUnitTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/LetterServiceTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/MailboxServiceTest.java
  src/test/java/io/crops/warmletter/domain/member/entity/MemberTest.java
  src/test/java/io/crops/warmletter/domain/member/entity/TemperatureTest.java
  src/test/java/io/crops/warmletter/domain/member/facade/MemberFacadeTest.java
  src/test/java/io/crops/warmletter/domain/member/service/MemberServiceTest.java
Labels: ✨ Feature, ✅ Test

#102 Feature/approve random letter(wr9-66)
  src/main/java/io/crops/warmletter/domain/letter/controller/RandomLetterController.java
  src/main/java/io/crops/warmletter/domain/letter/dto/request/ApproveLetterRequest.java
  src/main/java/io/crops/warmletter/domain/letter/dto/response/RandomLetterResponse.java
  src/main/java/io/crops/warmletter/domain/letter/entity/Letter.java
  src/main/java/io/crops/warmletter/domain/letter/entity/LetterTemporaryMatching.java
  src/main/java/io/crops/warmletter/domain/letter/exception/AlreadyApprovedException.java
  src/main/java/io/crops/warmletter/domain/letter/exception/DuplicateLetterMatchException.java
  src/main/java/io/crops/warmletter/domain/letter/exception/LetterNotFoundException.java
  src/main/java/io/crops/warmletter/domain/letter/exception/TemporaryMatchingNotFoundException.java
  src/main/java/io/crops/warmletter/domain/letter/repository/LetterRepository.java
  src/main/java/io/crops/warmletter/domain/letter/repository/LetterTemporaryMatchingRepository.java
  src/main/java/io/crops/warmletter/domain/letter/service/RandomLetterService.java
  src/main/java/io/crops/warmletter/domain/member/entity/Member.java
  src/main/java/io/crops/warmletter/global/error/common/ErrorCode.java
  src/test/java/io/crops/warmletter/domain/letter/controller/RandomLetterControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/RandomLetterServiceConcurrencyTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/RandomLetterServiceTest.java
Labels: ✨ Feature, ✅ Test

#107 Feature/report handling(wr9 71)
  src/main/java/io/crops/warmletter/domain/member/entity/Member.java
  src/main/java/io/crops/warmletter/domain/report/controller/ReportController.java
  src/main/java/io/crops/warmletter/domain/report/dto/request/UpdateReportRequest.java
  src/main/java/io/crops/warmletter/domain/report/dto/response/ReportsResponse.java
  src/main/java/io/crops/warmletter/domain/report/dto/response/UpdateReportResponse.java
  src/main/java/io/crops/warmletter/domain/report/entity/Report.java
  src/main/java/io/crops/warmletter/domain/report/exception/ReportNotFoundException.java
  src/main/java/io/crops/warmletter/domain/report/repository/ReportRepository.java
  src/main/java/io/crops/warmletter/domain/report/repository/ReportRepositoryImpl.java
  src/main/java/io/crops/warmletter/domain/report/service/ReportService.java
  src/test/java/io/crops/warmletter/domain/member/entity/MemberTest.java
  src/test/java/io/crops/warmletter/domain/report/controller/ReportControllerTest.java
  src/test/java/io/crops/warmletter/domain/report/service/ReportServiceTest.java
Labels: ✨ Feature

#103 Feature/create subscribe alarm(wr9 68)
  src/main/java/io/crops/warmletter/domain/timeline/controller/NotificationController.java
  src/main/java/io/crops/warmletter/domain/timeline/controller/TimelineController.java
  src/main/java/io/crops/warmletter/domain/timeline/dto/response/NotificationResponse.java
  src/main/java/io/crops/warmletter/domain/timeline/dto/response/TimelineResponse.java
  src/main/java/io/crops/warmletter/domain/timeline/enums/AlarmType.java
  src/main/java/io/crops/warmletter/domain/timeline/repository/TimelineRepository.java
  src/main/java/io/crops/warmletter/domain/timeline/service/NotificationService.java
  src/main/java/io/crops/warmletter/domain/timeline/service/TimelineService.java
  src/test/java/io/crops/warmletter/domain/timeline/controller/NotificationControllerTest.java
  src/test/java/io/crops/warmletter/domain/timeline/controller/TimelineControllerTest.java
  src/test/java/io/crops/warmletter/domain/timeline/service/NotificationServiceTest.java
  src/test/java/io/crops/warmletter/domain/timeline/service/TimelineServiceTest.java
Labels: ✨ Feature, ✅ Test

#108 Feature/temporary-token(wr9-72)
  src/main/java/io/crops/warmletter/domain/auth/controller/AuthController.java
  src/main/java/io/crops/warmletter/domain/auth/dto/TokenStorageResponse.java
  src/main/java/io/crops/warmletter/domain/auth/service/AuthService.java
  src/main/java/io/crops/warmletter/domain/member/facade/MemberFacade.java
  src/main/java/io/crops/warmletter/domain/member/repository/MemberRepository.java
  src/main/java/io/crops/warmletter/global/config/ScheduleConfig.java
  src/main/java/io/crops/warmletter/global/jwt/service/TokenStorage.java
  src/main/java/io/crops/warmletter/global/oauth/handler/CustomOAuth2AuthenticationSuccessHandler.java
  src/test/java/io/crops/warmletter/domain/auth/controller/AuthControllerTest.java
  src/test/java/io/crops/warmletter/domain/auth/service/AuthServiceTest.java
Labels: ✨ Feature, ✅ Test

#124 docs: interface 생성 후 controllerDocs에 swagger 작성 (WR9-81)
  src/main/java/io/crops/warmletter/domain/letter/controller/LetterController.java
  src/main/java/io/crops/warmletter/domain/letter/controller/MailboxController.java
  src/main/java/io/crops/warmletter/domain/letter/controller/RandomLetterController.java
  src/main/java/io/crops/warmletter/domain/letter/controller/docs/LetterControllerDocs.java
  src/main/java/io/crops/warmletter/domain/letter/controller/docs/MailboxControllerDocs.java
  src/main/java/io/crops/warmletter/domain/letter/controller/docs/RandomLetterControllerDocs.java
Labels: 📃 Docs

#125 Refactor/event post comment alarm(wr9 82)
  src/main/java/io/crops/warmletter/domain/eventpost/repository/EventCommentRepository.java
  src/main/java/io/crops/warmletter/domain/eventpost/service/EventCommentService.java
  src/main/java/io/crops/warmletter/domain/timeline/controller/NotificationController.java
  src/main/java/io/crops/warmletter/domain/timeline/repository/TimelineRepository.java
  src/main/java/io/crops/warmletter/domain/timeline/service/NotificationService.java
  src/main/java/io/crops/warmletter/domain/timeline/service/TimelineService.java
  src/test/java/io/crops/warmletter/domain/eventpost/service/EventCommentServiceTest.java
  src/test/java/io/crops/warmletter/domain/timeline/controller/NotificationControllerTest.java
  src/test/java/io/crops/warmletter/domain/timeline/service/NotificationServiceTest.java
  src/test/java/io/crops/warmletter/domain/timeline/service/TimelineServiceTest.java
Labels: 🔨 Refactor

#128 Docs/swagger report badword(wr9 79)
  src/main/java/io/crops/warmletter/domain/badword/controller/BadWordController.java
  src/main/java/io/crops/warmletter/domain/badword/dto/request/CreateBadWordRequest.java
  src/main/java/io/crops/warmletter/domain/badword/dto/request/UpdateBadWordRequest.java
  src/main/java/io/crops/warmletter/domain/badword/dto/request/UpdateBadWordStatusRequest.java
  src/main/java/io/crops/warmletter/domain/badword/dto/response/BadWordResponse.java
  src/main/java/io/crops/warmletter/domain/badword/dto/response/BadWordsResponse.java
  src/main/java/io/crops/warmletter/domain/badword/dto/response/UpdateBadWordResponse.java
  src/main/java/io/crops/warmletter/domain/report/controller/ReportController.java
  src/main/java/io/crops/warmletter/domain/report/dto/request/CreateReportRequest.java
  src/main/java/io/crops/warmletter/domain/report/dto/request/UpdateReportRequest.java
  src/main/java/io/crops/warmletter/domain/report/dto/response/ReportResponse.java
  src/main/java/io/crops/warmletter/domain/report/dto/response/ReportsResponse.java
  src/main/java/io/crops/warmletter/domain/report/dto/response/UpdateReportResponse.java
Labels: 📃 Docs

#130 docs: Member, Auth 관련 Swagger 작업 (WR9-83)
  src/main/java/io/crops/warmletter/domain/auth/controller/AuthController.java
  src/main/java/io/crops/warmletter/domain/auth/docs/AuthControllerDocs.java
  src/main/java/io/crops/warmletter/domain/member/controller/MemberController.java
  src/main/java/io/crops/warmletter/domain/member/docs/MemberControllerDocs.java
  src/main/resources/application.yml
Labels: 📃 Docs

#131 Feature/apply alarm method(wr9 77)
  src/main/java/io/crops/warmletter/domain/letter/service/LetterService.java
  src/main/java/io/crops/warmletter/domain/report/service/ReportService.java
  src/main/java/io/crops/warmletter/domain/share/service/ShareProposalService.java
  src/main/java/io/crops/warmletter/domain/timeline/facade/NotificationFacade.java
  src/main/java/io/crops/warmletter/domain/timeline/repository/TimelineRepository.java
  src/main/java/io/crops/warmletter/domain/timeline/service/NotificationService.java
  src/test/java/io/crops/warmletter/domain/report/service/ReportServiceTest.java
  src/test/java/io/crops/warmletter/domain/share/service/ShareProposalServiceTest.java
  src/test/java/io/crops/warmletter/domain/timeline/facade/NotificationFacadeTest.java
Labels: ✨ Feature, ✅ Test

#134 Docs/swagger event alarm(wr9 80)
  src/main/java/io/crops/warmletter/domain/eventpost/controller/EventCommentController.java
  src/main/java/io/crops/warmletter/domain/eventpost/controller/EventPostController.java
  src/main/java/io/crops/warmletter/domain/timeline/controller/NotificationController.java
  src/main/java/io/crops/warmletter/domain/timeline/controller/TimelineController.java
Labels: 📃 Docs

#133 Refactor/letter function(wr9-85)
  src/main/java/io/crops/warmletter/domain/letter/dto/request/CreateLetterRequest.java
  src/main/java/io/crops/warmletter/domain/letter/dto/response/LetterResponse.java
  src/main/java/io/crops/warmletter/domain/letter/entity/Letter.java
  src/main/java/io/crops/warmletter/domain/letter/service/LetterService.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/controller/LettersControllerUnitTest.java
  src/test/java/io/crops/warmletter/domain/letter/controller/RandomLetterControllerTest.java
  src/test/java/io/crops/warmletter/domain/letter/service/LetterServiceTest.java
Labels: 🔨 Refactor
